.searching__form {
    display: flex;
    margin: 43px 0 0 0;
    gap: 19px;
    max-width: 502px;
    width: 100%;
}

.searching__input {
    width: 74%;
    color: white!important;
    border: 3px solid white!important;
    border-radius: 15px!important;
    margin-left: 60px !important;
}
.searching__form_btn {
    border-radius: 10px!important;
    background: #1396df!important;
    padding: 17px 28px!important;
}
