.main__data{
    max-width: 404px;
    width:100%;
    text-align: center;
}
.main__data__block{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(30, 30, 30, 0.5);
    border: 4px solid #fff5f5;
    border-radius: 18px;
    padding: 0 0 25px 0;
}
.main__data_day{
    margin: 25px 0 13px 0;
    font-size: 70px;
}
.main__data_date{
    margin: 0 0 38px 0;
    font-size: 25px;
}
.main__data_picture{
    margin: 0 0 23px 0;
}
.main__data_temp{
    font-size: 80px;
    margin: 0 0 13px 0;
}
.main__data_desc{
    font-size:35px;
}